* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Catamaran", sans-serif;
  color: #373737;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
figure {
  margin: 0;
}
section {
  padding: 70px 0;
  overflow: hidden;
}

.section-dark {
  background-color: #046444;
}
.section-uniqe {
  background-color: #295928;
}
.container {
  max-width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
}

/* Typografia */
h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: 100;
}

h1 {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 30px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 30px;
}



/* Header and navigation */
header {
  padding: 30px 0;
  background-color: antiquewhite;
  background-image: url("../images/headerrr.jpeg");
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.menu-list {
  display: none;
  list-style: none;
}

.menu-list-link {
  color: #fff;
  font-size: 16px;
}
.menu-list-link:hover {
  color: #bf0034;
}

.header-text {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 50px;
  max-width: 350px;
}

.header-button {
  padding: 10px 25px;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
  border: 3px solid #bf0034;
}
.header-button:hover {
  background-color: #bf0034;
}

.close-menu svg {
  fill: #fff;
  width: 30px;
  height: 30px;
  }
.close-menu{
  display: none;
}

.opened{
  display: block;
}

.hidden{
  display: none;
}
nav {
  text-align: right;
}


@media screen and (min-width: 768px) {
  h1{
    font-size: 100px;
  }
  .close-menu{
    display: none;
  }
  .menu{
    margin-bottom: 100px;
  }
  .menu-list {
    display: flex;
    gap: 20px;
  }
  .burger-menu {
    display: none;
  }
}

/* Section about */

.about-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-left-col,
.about-right-col {
  max-width: 100%;
  min-width: 250px;
}
.about-left-col {
  position: relative;
  height: 420px;
}
.about-image {
  width: 280px;
}

.about-image::after {
  position: absolute;
  top: 40px;
  left: 40px;
  content: "";
  width: 280px;
  height: 420px;
  background-color: #bf0034;
  z-index: -1;
  box-sizing: border-box;
}
.about-image::before {
  position: absolute;
  bottom: 40px;
  right: 40px;
  content: "";
  width: 280px;
  height: 420px;
  border: 15px solid #4f247c;
  z-index: -1;
  box-sizing: border-box;
}

.about-heading {
  margin: 30px 0;
  color: #bf0034;
}
.about-text-heading {
  margin-bottom: 20px;
  font-size: 20px;
}
.about-text-heading::first-letter {
  color: #bf0034;
  font-size: 25px;
}
.about-text {
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (min-width: 995px) {
  .about-wrapper {
    justify-content: space-between;
  }
  .about-left-col,
  .about-right-col {
    max-width: 50%;
    min-width: 250px;
  }
  .about-left-col {
    height: 580px;
  }
  .about-image {
    margin-left: 40px;
    width: 380px;
  }
  .about-image::after {
    left: 80px;
    width: 380px;
    height: 580px;
  }
  .about-image::before {
    width: 380px;
    height: 580px;
  }
}

/* Section interests */

.interest-wrapper {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 30px;
  justify-content: center;
}
.interest-card {
  min-width: 220px;
  max-width: 100%;
  text-align: center;
}

.interst-icon-circle {
  margin: 0 auto 20px;
  position: relative;
  border: 1px solid #bf0034;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.interest-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
}

.interest-card-heading {
  margin-bottom: 20px;
}

.interest-card p {
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 995px) {
  .interest-wrapper {
    justify-content: space-between;
  }
  .interest-card {
    min-width: 100px;
    max-width: 20%;
    text-align: center;
  }
}

/* Section photos */
.photos-heading {
  text-align: center;
  color: #4f247c;
  margin-bottom: 30px;
}

.photos-text {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 1.5;
}

.photos-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 30px;
  justify-content: center;
}

.photos-card {
  max-width: 300px;
}

figcaption {
  text-align: center;
}

/* section quote */
#quote{
  position: relative;
}

#quote::before{
  position: absolute;
  bottom: -100px;
  right: -100px;
  z-index: -1;
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #244f40;
}

.quote-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
blockquote {
  max-width: 80%;
  z-index: 0;
}
.quote-text {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.quote-footer {
  color: #fff;
  font-size: 16px;
  text-align: end;
  text-transform: uppercase;
}

.quote-icon {
  fill: #4f247c;
}

/*  Secion Contact */

.contact-heading {
  text-align: center;
  margin-bottom: 30px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 4px;
}

input,
textarea {
  width: 100%;
  border: 2px solid #4f247c;
  padding: 8px;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border: none;
  outline: 1px solid #bf0034;
}

input {
  margin-bottom: 16px;
}

textarea {
  margin-bottom: 20px;
}
.contact-btn {
  margin: 0 auto;
  display: block;
  background-color: #4f247c;
  color: #fff;
  border: none;
  padding: 8px 32px;
  cursor: pointer;
  border-radius: 5px;
}

.contact-btn:hover {
  border: 1px solid #4f247c;
  background-color: #fff;
  color: #000;
}

/* footer */

.section-footer {
  padding: 50px 0;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

.footer-copy-text {
  margin-bottom: 30px;
}



.footer-text p{
  margin-bottom: 12px;
}

.footer-icons a {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 995px){
  .section-footer{
    text-align: left;
  }
  .footer-bootom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-text p:last-child{
  margin-bottom: 0;
}